{% extends "layout.html" %}
{% block content %}
    <h3>perssons list</h3>
    <br>
    <div class="container">
            <div class="col s10">
                <table class="">
                    <thead>
                      <tr>
                          <th>id</th>
                          <th>name</th>
                          <th>last name</th>
                          <th>age</th>
                          <th>options</th>

                      </tr>
                    </thead>
            
                    <tbody>
                        {% for item in perssons %}                            
                            <tr>
                                <td>{{item.id}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.lastName}}</td>
                                <td>{{item.age}}</td>
                                <td>
                                    <a class="waves-effect waves-light btn-small red" href="/delete/{{item.id}}">delete</a>
                                    |
                                    <a class="waves-effect waves-light btn-small" href="/viewPersson/{{item.id}}">view</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
{% endblock %}