<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="{{BASE_URL}}">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>perssons</title>
</head>
<body>
    <header>
        {% include "header.html" ignore missing %}
    </header>
    <main style="min-height: 100vh;">
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer>
        {% include "footer.html" ignore missing %}
    </footer>
</body>
</html>